<div class="main-wrapper">
    <!-- PAGE TITLE -->
    <section class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="titleTable">
                        <div class="titleTableInner">
                            <div class="pageTitleInfo">
                                <h1>about us</h1>
                                <div class="under-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="aboutTitle">
                        About T.E.A.M: Founded in 2008 T.E.A.M. has become the #1 Greek Formal Event planning site in North America. As an innovator in group planning technology T.E.A.M. has created the ability for any group to plan their event through the online proprietary planning software. With over 10 years' experience in Marketing, Event planning, and Group travel T.E.A.M.'s Founder & C.E.O. Mike Olivas created the company to meet the needs of the busy undergraduate and professional leaders who struggle to find the necessary time to plan a quality event.
                    </div>
                </div>
            </div>            
        </div>
    </section>

    <section class="darkSection aboutComments">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="commentsTable">
                        <div class="commentsTableInner">
                            <div class="commentsInfo">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                                <h3>Our Approach</h3>
                                <h5>We work hard to bring you the best possible experience for your events!</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>