<div class="main-wrapper">
    <!-- PAGE TITLE -->
    <section class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="titleTable">
                        <div class="titleTableInner">
                            <div class="pageTitleInfo">
                                <h1>Privacy Policy</h1>
                                <div class="under-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="privacy-policy">
                        <div class="text-bigger first-bold">T.E.A.M. respects the privacy of our users and has developed this Privacy Policy to demonstrate its commitment to protecting your privacy. As an individual using our website, we encourage you to read this Privacy Policy very carefully when using our websites or services or conducting business with us. By using our websites, you are accepting the practices described in this Privacy Policy.</div>
                        <div class="text-bigger">If you have any questions about our privacy practices, please refer to the end of this Privacy Policy for information on how to contact us.</div>
                        <div class="text-bigger bold">Information Collected</div>
                        <div class="text-bigger">T.E.A.M. may collect from you both identifying and non-identifying personal information through our websites or other manner.</div>
                        <div class="text-bigger first-bold">Information provided by you.  T.E.A.M. may require that you provide certain information to use the services on our site.  You may always decline to give any personal information requested by T.E.A.M., but without the presentation of such information, T.E.A.M. may not be able to provide services to you.</div>
                        <div class="text-bigger first-bold">Cookies. When you visit TeamEXP.com, we may assign your computer one or more cookies, to facilitate access to our websites, to personalize your online experience, and to record information about your visit to our websites. Through the use of a cookie, we also may automatically collect information about your online activity on our websites, such as the web pages you visit, the links or advertisements you click, or the other actions you conduct while visiting TeamEXP.com if you have enabled cookies.</div>
                        <div class="text-bigger">IP Address. TeamEXP.com automatically collects your IP address, access times, and the referring website address for identification purposes.</div>
                        <div class="text-bigger">Disclosure of Information</div>
                        <div class="text-bigger">
                            T.E.A.M. may disclose your information:
                            <ol>
                                <li>In response to a subpoena, court order, or a request for cooperation from law enforcement agencies; </li>
                                <li>To defend against legal claims; </li>
                                <li>When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take action regarding illegal activity, fraud or wrongdoing; </li>
                                <li>To protect the rights, property, and safety of our company, users, employees or others; </li>
                                <li>To enforce our website terms;</li>
                                <li>In the event of a substantial corporate transaction, such as the sale of our business, merger, or consolidation; or </li>
                                <li>As otherwise required by law.</li>
                            </ol>
                        </div>
                        <div class="text-bigger">The previous paragraphs notwithstanding, T.E.A.M. will not disclose your information, and uses all of the information collected solely for analytical purposes connected to the operation of the Site.</div>
                        <div class="text-bigger">Protection of Your Information</div>
                        <div class="text-bigger first-bold">We take appropriate security measures (including physical, electronic and procedural measures) to help safeguard your personal information from unauthorized access and disclosure.  Access to your personal information is restricted to T.E.A.M.'s employees, contractors, and agents, for whom the information is necessary to maintain and improve our services.</div>
                        <div class="text-bigger">Users should also take care with how they handle and disclose their personal information. Please refer to the Federal Trade Commission's website at <a href="https://formalbuilder.com/wp-content/themes/thewebconz/http://www.ftc.gov/bcp/menus/consumer/data.shtm" target="_blank"> http://www.ftc.gov/bcp/menus/consumer/data.shtm </a> for information about how to protect yourself against identity theft.</div>
                        <div class="text-bigger">Modification of this Privacy Policy</div>
                        <div class="text-bigger">T.E.A.M. reserves the right to, and may from time to time, make changes to this privacy policy.</div>
                        <div class="text-bigger">Additionally, if you have any concerns about security on TeamEXP.com, you can email us at contact@teamexp.com with any questions.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="darkSection aboutComments">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="commentsTable">
                        <div class="commentsTableInner">
                            <div class="commentsInfo">
                                <i class="fa fa-quote-right" aria-hidden="true"></i>
                                <h3>Our Approach</h3>
                                <h5>We work hard to bring you the best possible experience for your events!</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>