<div class="main-wrapper">
    <!-- PAGE TITLE -->
    <section class="pageTitle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="titleTable">
                        <div class="titleTableInner">
                            <div class="pageTitleInfo">
                                <h1>Proposal Cart</h1>
                                <div class="under-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div style="height: 200px; text-align: center;margin-top: 50px;">
                        Please keep patient while we are validating deal...
                    </div>
                </div>
            </div>            
        </div>
    </section>
    
</div>

<div id="loading" *ngIf="loading">
    <img id="loading-image" src="assets/img/loading.gif" alt="Loading...">
    <div class="loader-text">
        Please wait while we are validating deal. . .
    </div>
</div>