<div *ngIf="iternary" id="capture">
    <div id="non-application-root">
        <div id="non-application-page">
            <div style="background-image: url('../../assets/images/beach_11.jpg');" id="ember13" class="ember-view si-background"></div>
            <div id="ember14" class="ember-view si-super-wrap">
                <div class="si-wrap _include-comments">
                    <div class="si-main-wrap">
                        <div id="ember15" class="si-agent-contact ember-view">

                            <div class="si-agent-contact-inner">
                                <figure style="background-image: url('../../assets/images/profile-pic.jpg');" id="ember16" class="si-agent-avatar ember-view"></figure>
                                <div class="si-agent-info">
                                    <h4>Abi Flores</h4>
                                    <h5 class="si-agent-title">Director of Experience</h5>
                                    <h5 class="si-agent-company">Formal Builder</h5>
                                </div>
                            </div>
                            <a href="https://www.formalbuilder.com" class="si-agent-logo" target="_blank" rel="noreferrer"> <img src="https://d6ham14n5a27z.cloudfront.net/img/s_h100/i_hfbf7a4c2c1c811c4234d4216f5b8718d580480ef.png" alt=""> </a>
                        </div>
                        <header style="background-image: url(../../assets/images/beach.jpg)" id="ember17" class="si-trip-header ember-view">
                            <div class="si-agent-contact-buttons">
                                <a href="mailto:planning@formalbuilder.com">
                                    <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" xml:space="preserve">
                                        <path d="M-47.1,209v376h0.4h506.6h1.2V209H-47.1z M403.6,252.1L206.9,402.5L10.5,252.1H403.6z M-4,295.4L101.4,376L-4,481.3V295.4z M-3.6,541.9l139.4-139.4l71,54.4l70.7-54.1l139.1,139.1L-3.6,541.9L-3.6,541.9z M418,482.1L312.2,376.3L418,295.4V482.1z"></path>
                                    </svg> 
                                    <span>planning@formalbuilder.com</span>
                                </a>
                                <a href="tel:+1 (404) 254-6524">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="206 -206 512 512" style="enable-background:new 206 -206 512 512;" xml:space="preserve">
                                        <path d="M662.4,255.4L570,117.7c-0.2,0.1-39.3,26-41.1,27.1C484.4,174.1,364.4-6.5,407.7-37.5L449.1-65l-91.8-138.2 c0,0-41.2,27.4-41.9,27.9c-28.5,19.9-106.5,68.2,47,299.4c154.9,233.2,226.7,178.6,258,159.1C622.8,281.6,662.2,255.5,662.4,255.4z"></path>
                                    </svg> 
                                    <span>+1 (404) 254-6524</span>
                                </a>
                            </div>
                            <div class="si-trip-header-content">
                                <h3>
                                    {{iternary.Day1Date | date: 'MMM dd, yyyy'}} - {{iternary.Day3Date | date: 'MMM dd, yyyy'}}
                                </h3>
                                <h1 class="text-white">{{iternary.DealAccountName}} - {{iternary.Destination}}</h1>
                            </div>
                        </header>
                        <div class="si-main">
                            <section class="component-trip-day-overview" id="date-one">
                                <h2 class="si-day-title">
                                    <span>{{iternary.Day1Date | date: 'EEEE'}}</span>
                                    <span>{{iternary.Day1Date | date: 'MMM dd'}}</span>
                                </h2>
                                <div class="si-event accommodation" data-event-id="73711579">
                                    <div class="si-event-icon-wrap ">
                                        <figure class="si-event-icon">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-255 342.2 100 108.8" style="enable-background:new -255 342.2 100 108.8;" xml:space="preserve">
                                            <polygon points="-168.6,388.7 -168.6,406.4 -241.4,406.4 -241.4,360 -254.5,360 -254.5,433.4 -241.4,433.4 -241.4,423.5 -168.6,423.5 -168.6,433.4 -155.5,433.4 -155.5,388.7 "></polygon>
                                            <path d="M-205.9,394.5c-2.1-10-19.8-18.1-26.9-12.5c-2.9,2.2-4.5,6.6-3.3,9.9C-231.5,405.1-204.7,400.2-205.9,394.5z"></path>
                                        </svg>
                                        </figure>
                                    </div>
                                    <div class="si-event-content">
                                        <div class="si-event-time">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="56" viewBox="0 0 56 56"><defs><clipPath id="b"><rect width="56" height="56"></rect></clipPath></defs><g id="a" clip-path="url(#b)"><path d="M45.617,28.454,34.01,16.841V52.021a2,2,0,1,1-4,0V16.875L18.437,28.454a2,2,0,1,1-2.829-2.83l15-15.012a2,2,0,0,1,2.829,0l15,15.012a2,2,0,1,1-2.829,2.83Z" transform="translate(73.296 27.995) rotate(135)" fill-rule="evenodd"></path></g></svg>
                                            </span>
                                            <span>
                                                {{iternary.CheckInTime}} - Eastern Daylight Time - Check-in
                                            </span>
                                        </div>
                                        <h3 class="si-event-title">Check in to {{iternary.HotelName}}</h3>
                                        <div class="si-event-notes">
                                            <p>{{iternary.HotelDescription}}</p>
                                            <div class="row">
                                                <div class="col-md-12 hotel_description" *ngFor="let amenity of iternary.Amenities">
                                                    <img class="list-image" src="../../assets/images/square_check.svg">
                                                    <span>{{amenity}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="component-image-layout ember-view">
                                            <!--<img *ngFor="let item of hotelImages; index as i"
                    [lightbox]="i"
                    [src]="item.data.thumb">-->
                                            <div class="image-layout-main-image _clickable" data-ember-action="" data-ember-action-54="54" *ngFor="let image of iternary.HotelDefaultImage; index as i">
                                                <a class="lightbox" [lightbox]="i" [gallery]="'hotelGallery'">
                                                    <img class="img-lightbox" [src]="image.url">

                                                    <div class="clickable-image-overlay">
                                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                                                        <path d="M461.1,586.4L325.6,450.9c19.8-31.2,31.3-68.3,31.3-107.9c0-111.4-90.6-202-202-202c-111.4,0-202,90.6-202,202 s90.6,202,202,202c37.7,0,73-10.4,103.2-28.4L394.5,653L461.1,586.4z M28.2,343c0-69.9,56.8-126.7,126.7-126.7 S281.6,273.1,281.6,343s-56.8,126.7-126.7,126.7C85,469.7,28.2,412.8,28.2,343z"></path>
                                                        </svg>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="image-layout-thumbnail-block">
                                                <div class="image-layout-thumbnail-wrapper" *ngFor="let image of iternary.HotelOtherImage; index as i">
                                                    <div class="image-layout-thumbnail _clickable" data-ember-action="" data-ember-action-56="56">
                                                        <a class="lightbox" [lightbox]="(i + 1)" [gallery]="'hotelGallery'">
                                                            <img class="img-lightbox" [src]="image.url">

                                                            <div class="clickable-image-overlay">
                                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                                                                <path d="M461.1,586.4L325.6,450.9c19.8-31.2,31.3-68.3,31.3-107.9c0-111.4-90.6-202-202-202c-111.4,0-202,90.6-202,202 s90.6,202,202,202c37.7,0,73-10.4,103.2-28.4L394.5,653L461.1,586.4z M28.2,343c0-69.9,56.8-126.7,126.7-126.7 S281.6,273.1,281.6,343s-56.8,126.7-126.7,126.7C85,469.7,28.2,412.8,28.2,343z"></path>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="si-event-ideas">
                                            <div id="ember67" class="component-idea-tile-horizontal _c-vanilla _can-view-details modal-open-button ember-view">
                                                <figure id="ember68" class="_has-image  ember-view" style="background-image: url('../../assets/images/nolaz.jpg');">
                                                    <div class="btn _btn-small _btn-outline-white" data-ember-action="" data-ember-action-69="69"> View </div>
                                                </figure>
                                                <ul class="_c-info">
                                                    <li><span>{{iternary.HotelName}}</span></li>
                                                    <li *ngIf="iternary.HotelWebsite">
                                                        <a [href]="iternary.HotelAddressUrl" target="_blank" class="no-bubble-link" rel="noreferrer"> <span> {{iternary.HotelAddress}}</span> </a>
                                                    </li>
                                                    <li *ngIf="iternary.HotelWebsite">
                                                        <a [href]="iternary.HotelWebsite" target="_blank" class="no-bubble-link" rel="noreferrer"> <span>{{iternary.HotelWebsite}}</span> </a>
                                                    </li>
                                                </ul>
                                                <div class="_c-disclosure">
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                    <polygon points="94.3,68.2 162.9,0 417.7,256 162.9,512 94.3,443.8 281.2,256 "></polygon>
                                                </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="component-trip-day-overview" id="date-two">
                                <h2 class="si-day-title">
                                    <span>{{iternary.Day2Date | date: 'EEEE'}}</span>
                                    <span>{{iternary.Day2Date | date: 'MMM dd'}}</span>
                                </h2>
                                <div class="si-event date" data-event-id="73716541">
                                    <div class="si-event-icon-wrap ">
                                        <figure class="si-event-icon">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                            <path d="M215.1,210.8H96.8v112.9h118.3V210.8z M430.6,75.5c0,11.8-10,21.5-22.4,21.5s-22.4-9.6-22.4-21.5V21.6 c0-11.8,10-21.5,22.4-21.5s22.4,9.6,22.4,21.5V75.5z M127.5,21.5c0-11.8-10-21.5-22.4-21.5S82.7,9.6,82.7,21.5v53.9 c0,11.8,10,21.5,22.4,21.5s22.4-9.6,22.4-21.5V21.5z M457.7,52.7v22c0,26.1-22.2,47.3-49.5,47.3s-49.5-21.2-49.5-47.3v-22H154.6 v21.9c0,26.1-22.2,47.3-49.5,47.3s-49.5-21.2-49.5-47.3V52.7H1.7V476h508.7V52.7H457.7L457.7,52.7z M461,428.8H51V166.5h409.9 L461,428.8L461,428.8z"></path>
                                        </svg>
                                        </figure>
                                    </div>
                                    <div class="si-event-content">
                                        <div class="si-event-time">
                                            <span>
                                                {{iternary.VenueCheckInTime}} - Eastern Daylight Time - {{iternary.VenueDuration}} hours
                                            </span>
                                        </div>
                                        <h3 class="si-event-title">{{iternary.VenueName}}</h3>
                                        <div class="si-event-notes">
                                            <div class="row">
                                                <div class="col-md-12 hotel_description" *ngFor="let amenity of iternary.VenueAmenities">
                                                    <img class="list-image" src="../../assets/images/square_check.svg">
                                                    <span>{{amenity}}</span>
                                                </div>
                                            </div>
                                            <p>{{iternary.VenueDescription}}</p>
                                        </div>
                                        <div id="ember62" class="component-image-layout ember-view">
                                            <!--<img *ngFor="let item of venueImages; index as i"
                    [lightbox]="i"
                    [src]="item.data.thumb">-->
                                            <div class="image-layout-main-image _clickable" data-ember-action="" data-ember-action-63="63" *ngFor="let image of iternary.VenueDefaultImage; index as i">
                                                <a class="lightbox" [lightbox]="i" [gallery]="'venueGallery'">
                                                    <img class="img-lightbox" [src]="image.url">
                                                    <div class="clickable-image-overlay">
                                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                                                        <path d="M461.1,586.4L325.6,450.9c19.8-31.2,31.3-68.3,31.3-107.9c0-111.4-90.6-202-202-202c-111.4,0-202,90.6-202,202 s90.6,202,202,202c37.7,0,73-10.4,103.2-28.4L394.5,653L461.1,586.4z M28.2,343c0-69.9,56.8-126.7,126.7-126.7 S281.6,273.1,281.6,343s-56.8,126.7-126.7,126.7C85,469.7,28.2,412.8,28.2,343z"></path>
                                                        </svg>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="image-layout-thumbnail-block">
                                                <div class="image-layout-thumbnail-wrapper" *ngFor="let image of iternary.VenueOtherImage; index as i">
                                                    <div class="image-layout-thumbnail _clickable">
                                                        <a class="lightbox" [lightbox]="(i + 1)" [gallery]="'venueGallery'">
                                                            <img class="img-lightbox" [src]="image.url">
                                                            <div class="clickable-image-overlay">
                                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                                                                <path d="M461.1,586.4L325.6,450.9c19.8-31.2,31.3-68.3,31.3-107.9c0-111.4-90.6-202-202-202c-111.4,0-202,90.6-202,202 s90.6,202,202,202c37.7,0,73-10.4,103.2-28.4L394.5,653L461.1,586.4z M28.2,343c0-69.9,56.8-126.7,126.7-126.7 S281.6,273.1,281.6,343s-56.8,126.7-126.7,126.7C85,469.7,28.2,412.8,28.2,343z"></path>
                                                                </svg>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="si-event-ideas">
                                            <div id="ember67" class="component-idea-tile-horizontal _c-vanilla _can-view-details modal-open-button ember-view">
                                                <figure id="ember68" class="_has-image  ember-view" style="background-image: url('../../assets/images/nolaz.jpg');">
                                                    <div class="btn _btn-small _btn-outline-white" data-ember-action="" data-ember-action-69="69"> View </div>
                                                </figure>
                                                <ul class="_c-info">
                                                    <li><span>{{iternary.VenueName}}</span></li>
                                                    <li *ngIf="iternary.VenueAddressUrl">
                                                        <a [href]="iternary.VenueAddressUrl" target="_blank" class="no-bubble-link" rel="noreferrer"> <span> {{iternary.VenueAddress}}</span> </a>
                                                    </li>
                                                    <li *ngIf="iternary.VenueWebsite">
                                                        <a [href]="iternary.VenueWebsite" target="_blank" class="no-bubble-link" rel="noreferrer"> <span>{{iternary.VenueWebsite}}</span> </a>
                                                    </li>
                                                </ul>
                                                <div class="_c-disclosure">
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                    <polygon points="94.3,68.2 162.9,0 417.7,256 162.9,512 94.3,443.8 281.2,256 "></polygon>
                                                </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="component-trip-day-overview" id="date-three">
                                <h2 class="si-day-title">
                                    <span>{{iternary.Day3Date | date: 'EEEE'}}</span>
                                    <span>{{iternary.Day3Date | date: 'MMM dd'}}</span>
                                </h2>
                                <div class="si-event accommodation" data-event-id="73716122">
                                    <div class="si-event-icon-wrap ">
                                        <figure class="si-event-icon">
                                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                            <path d="M215.1,210.8H96.8v112.9h118.3V210.8z M430.6,75.5c0,11.8-10,21.5-22.4,21.5s-22.4-9.6-22.4-21.5V21.6 c0-11.8,10-21.5,22.4-21.5s22.4,9.6,22.4,21.5V75.5z M127.5,21.5c0-11.8-10-21.5-22.4-21.5S82.7,9.6,82.7,21.5v53.9 c0,11.8,10,21.5,22.4,21.5s22.4-9.6,22.4-21.5V21.5z M457.7,52.7v22c0,26.1-22.2,47.3-49.5,47.3s-49.5-21.2-49.5-47.3v-22H154.6 v21.9c0,26.1-22.2,47.3-49.5,47.3s-49.5-21.2-49.5-47.3V52.7H1.7V476h508.7V52.7H457.7L457.7,52.7z M461,428.8H51V166.5h409.9 L461,428.8L461,428.8z"></path>
                                            </svg>
                                        </figure>
                                    </div>
                                    <div class="si-event-content">
                                        <div class="si-event-time">
                                            <span>
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="56" height="56" viewBox="0 0 56 56"><defs><clipPath id="b"><rect width="56" height="56"></rect></clipPath></defs><g id="a" clip-path="url(#b)"><path d="M45.617,28.454,34.01,16.841V52.021a2,2,0,1,1-4,0V16.875L18.437,28.454a2,2,0,1,1-2.829-2.83l15-15.012a2,2,0,0,1,2.829,0l15,15.012a2,2,0,1,1-2.829,2.83Z" transform="translate(28.002 -17.293) rotate(45)" fill-rule="evenodd"></path></g></svg>
                                            </span>
                                            <span>
                                                {{iternary.CheckOutTime}} - Eastern Daylight Time - Check-out
                                            </span>
                                        </div>
                                        <h3 class="si-event-title">Check Out at {{iternary.HotelName}}</h3>
                                        <div class="si-event-ideas">
                                            <div id="ember70" class="component-idea-tile-horizontal _c-vanilla _can-view-details modal-open-button ember-view">
                                                <figure id="ember71" class="_has-image  ember-view" style="background-image: url('../../assets/images/Sun-N-Sand-Resort-Hotel-4.jpg');">
                                                    <div class="btn _btn-small _btn-outline-white" data-ember-action="" data-ember-action-72="72"> View </div>
                                                </figure>
                                                <ul class="_c-info">
                                                    <li><span>{{iternary.HotelName}}</span></li>
                                                    <li *ngIf="iternary.HotelWebsite">
                                                        <a [href]="iternary.HotelAddressUrl" target="_blank" class="no-bubble-link" rel="noreferrer"> <span> {{iternary.HotelAddress}}</span> </a>
                                                    </li>
                                                    <li *ngIf="iternary.HotelWebsite">
                                                        <a [href]="iternary.HotelWebsite" target="_blank" class="no-bubble-link" rel="noreferrer"> <span>{{iternary.HotelWebsite}}</span> </a>
                                                    </li>
                                                </ul>
                                                <div class="_c-disclosure">
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                                    <polygon points="94.3,68.2 162.9,0 417.7,256 162.9,512 94.3,443.8 281.2,256 "></polygon>
                                                </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="component-trip-day-overview" id="info-section">
                                <h2 class="si-day-title">
                                    <span>Information &amp; Documents</span>
                                </h2>
                                <div class="si-event info" data-event-id="73800877">
                                    <div class="si-event-icon-wrap ">
                                        <figure class="si-event-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                            <path id="info-5-icon" d="M256,50.002C142.229,50.002,50,142.228,50,256c0,113.769,92.229,205.998,206,205.998 c113.77,0,206-92.229,206-205.998C462,142.228,369.77,50.002,256,50.002z M251.989,376.93 c-29.694,10.436-54.175-1.531-49.264-30.049c4.913-28.523,33.09-89.589,37.11-101.135c4.017-11.547-3.687-14.712-11.943-10.015 c-4.763,2.749-11.84,8.254-17.916,13.606c-1.685-3.393-4.055-7.27-5.833-10.983c9.915-9.936,26.488-23.256,46.108-28.083 c23.441-5.787,62.624,3.463,45.783,48.271c-12.024,31.937-20.529,53.976-25.888,70.388c-5.356,16.418,1.006,19.861,10.382,13.464 c7.325-5.001,15.129-11.804,20.849-17.079c2.646,4.301,3.494,5.672,6.11,10.614C297.559,346.105,271.584,369.924,251.989,376.93z M313.516,179.372c-13.469,11.463-33.433,11.216-44.601-0.561c-11.166-11.77-9.302-30.606,4.163-42.072 c13.468-11.463,33.435-11.215,44.6,0.553C328.843,149.066,326.98,167.902,313.516,179.372z"></path>
                                        </svg>
                                        </figure>
                                    </div>
                                    <div class="si-event-content">
                                        <h3 class="si-event-title">Pricing</h3>
                                        <div class="si-event-notes">
                                            <p>{{iternary.Couple}} Couples @ {{iternary.PricePerCouple | currency : 'USD' : 'symbol' : '1.0-0'}} Per Couple</p>
                                            <p>{{iternary.ChapterContribution | currency : 'USD' : 'symbol' : '1.0-0'}} Chapter Contribution (In Addition to the $3k Formal Builder Security Deposit)</p>
                                            <p>
                                                <br><strong><em>This Proposal Is Valid For 3 Days.</em></strong><em>&nbsp;The hotel/venue have confirmed pricing and availability as of the date of this proposal. If you delay beyond the expire date, prices may likely go up and availability will diminish. You may also incur re-planning fees.</em>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="si-event info" data-event-id="73801552">
                                    <div class="si-event-icon-wrap ">
                                        <figure class="si-event-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                                            <path id="info-5-icon" d="M256,50.002C142.229,50.002,50,142.228,50,256c0,113.769,92.229,205.998,206,205.998 c113.77,0,206-92.229,206-205.998C462,142.228,369.77,50.002,256,50.002z M251.989,376.93 c-29.694,10.436-54.175-1.531-49.264-30.049c4.913-28.523,33.09-89.589,37.11-101.135c4.017-11.547-3.687-14.712-11.943-10.015 c-4.763,2.749-11.84,8.254-17.916,13.606c-1.685-3.393-4.055-7.27-5.833-10.983c9.915-9.936,26.488-23.256,46.108-28.083 c23.441-5.787,62.624,3.463,45.783,48.271c-12.024,31.937-20.529,53.976-25.888,70.388c-5.356,16.418,1.006,19.861,10.382,13.464 c7.325-5.001,15.129-11.804,20.849-17.079c2.646,4.301,3.494,5.672,6.11,10.614C297.559,346.105,271.584,369.924,251.989,376.93z M313.516,179.372c-13.469,11.463-33.433,11.216-44.601-0.561c-11.166-11.77-9.302-30.606,4.163-42.072 c13.468-11.463,33.435-11.215,44.6,0.553C328.843,149.066,326.98,167.902,313.516,179.372z"></path>
                                        </svg>
                                        </figure>
                                    </div>
                                    <div class="si-event-content">
                                        <h3 class="si-event-title">Notes</h3>
                                        <div class="si-event-notes">
                                            <ul>
                                                <li *ngFor="let note of iternary?.HotelNotes">
                                                    <span class="note_title">{{note.title}}: </span>
                                                    <span class="note_body">{{note.body}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="component-trip-day-overview" #signatureParent *ngIf="IsAdmin">
                                <small>Signature</small>
                                <a class="btn btn-primary" style="float:right; padding:6px;" (click)="this.onClear()" *ngIf="iternary.IsProposalPending">Clear</a>
                                <div class="sig-container">
                                    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                                </div>

                            </div>
                            <div class="component-trip-day-overview" *ngIf="IsAdmin && iternary.IsProposalPending">
                                <div class="text-center" style="display: flex; flex-direction: row-reverse">
                                    <button class="btn btn-primary" (click)="this.onApprove()"> Approve </button>
                                    <button class="btn btn-danger" style="margin-right:10px;" (click)="this.onReject()"> Reject </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="si-day-nav _fixed _with-top-padding" *ngIf="iternary">
    <ul class="si-day-nav-inner">
        <li>
            <button class="sec-buttons" id="btn-info">
                <div class="_inner si-day-nav-item-inner">
                    <a href="#info-section" class="clickAnimate info-section"><span>Information &amp; Documents</span></a>
                </div>
            </button>
        </li>

        <li class="supplemental">
            <button class="sec-buttons" id="btn-day1">
                <div class="_inner si-day-nav-item-inner">
                    <a href="#date-one" class="clickAnimate date-one">
                        <span>{{iternary.Day1Date | date: 'EEEE'}}</span>
                        <span>{{iternary.Day1Date | date: 'MMM dd'}}</span>
                    </a>
                </div>
            </button>
        </li>

        <li class="supplemental">
            <button class="sec-buttons" id="btn-day2">
                <div class="_inner si-day-nav-item-inner">
                    <a href="#date-two" class="clickAnimate date-two">
                        <span>{{iternary.Day2Date | date: 'EEEE'}}</span>
                        <span>{{iternary.Day2Date | date: 'MMM dd'}}</span>
                    </a>
                </div>
            </button>
        </li>

        <li class="supplemental">
            <button class="sec-buttons" id="btn-day3">
                <div class="_inner si-day-nav-item-inner">
                    <a href="#date-three" class="clickAnimate date-three">
                        <span>{{iternary.Day3Date | date: 'EEEE'}}</span>
                        <span>{{iternary.Day3Date | date: 'MMM dd'}}</span>
                    </a>
                </div>
            </button>
        </li>
    </ul>
</nav>


<div id="loading" *ngIf="loading">
    <img id="loading-image" src="assets/img/loading.gif" alt="Loading...">
</div>