<div class="main-wrapper">
    <!-- PAGE TITLE -->
    <section class="pageTitle" style="background-image:url(/assets/img/pages/page-title-bg5.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="titleTable">
                        <div class="titleTableInner">
                            <div class="pageTitleInfo">
                                <h1>Approve Venue</h1>
                                <div class="under-border"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- PAGE CONTENT -->
    <section class="mainContentSection" *ngIf="proposalVenue">
        <div class="container" *ngIf="!proposalVenue.IsVenueApproved && !proposalVenue.IsVenueRejected">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-12">
                    <div class="contactForm">
                        <form action="" role="form" class="form" [formGroup]='venueAcceptForm'>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>
                                            Thank you for taking your time for looking for RFP {{proposalVenue.VenueName}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>
                                            Event Date: {{proposalVenue.EventDate | date: 'MM/dd/yyyy'}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>
                                            No Of Attendees: {{proposalVenue.Attendees}}
                                        </label>
                                    </div>
                                </div>
                            </div>                                                      
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="First Name *" formControlName='FirstName'>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" placeholder="Last Name *" formControlName='LastName'>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="checkbox" formControlName='Accept'> I Accept term & condition / Privacy policy
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="!(venueAcceptForm.valid && venueAcceptForm.controls.Accept.value)" type="submit" class="btn buttonCustomPrimary" (click)="Accept(venueAcceptForm, true)">Accept</button>
                            <button [disabled]="!(venueAcceptForm.controls.FirstName.value && venueAcceptForm.controls.LastName.value)" type="submit" class="btn btn-danger" (click)="Accept(venueAcceptForm, false)">Reject</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="proposalVenue.IsVenueApproved">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-12">
                    <div class="contactForm">
                        <form action="" role="form" class="form" [formGroup]='venueAcceptForm'>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="text-success">
                                            You have already approved this Venue. Our staff will contact you once admin select your venue.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" *ngIf="proposalVenue.IsVenueRejected">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-lg-12">
                    <div class="contactForm">
                        <form action="" role="form" class="form" [formGroup]='venueAcceptForm'>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="text-danger">
                                            You have already rejected this Venue.
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="loading" *ngIf="loading">
    <img id="loading-image" src="assets/img/loading.gif" alt="Loading...">
</div>